<div class="col-xs-12">
  <h2>Liste des pays</h2>

  <p>Mis à jour (a venir)</p>

  <!-- Champ de recherche -->
  <!--[(ngModel)]="name" permet de récupére la valeur ecrite dans l'input dans une variable 
      (input)="Search()" permet d'appeller la fonction search du component.ts-->
  <input
    type="text"
    [(ngModel)]="name"
    placeholder="chercher un pays !"
    [(ngModel)]="searchText"
  />

  <!-- Boutton permettant de récupérer la liste des pays -->
  <button (click)="getPaysApi()">Récupération des pays via l'api</button>

  <button class="btn btn-primary" (click)="onSave()">
    Enregistrer les appareils
  </button>

  <!--   //TO DO: //ajout pagination //material ?
-->

  <mat-slide-toggle>Toggle me!</mat-slide-toggle>
  <!-- Affichage de la liste de pays -->
  <ul class="list-group">
    <!--<cdk-virtual-scroll-viewport itemSize="100" class="example-viewport">-->
    <tr>
      <app-pays
        *ngFor="let unPays of pays | filterPipe : searchText"
        [unPaysName]="unPays.name"
        [id]="unPays.id"
        [currencies]="unPays.currencies"
      ></app-pays>
    </tr>
    <!--</cdk-virtual-scroll-viewport>-->
  </ul>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <br /><br /><br />
      <div class="container">
        <li
          class="list-group-item"
          routerLinkActive="active"
          *ngFor="let pay of pays"
        >
          <p *ngFor>
            Nom du pays : {{ payName }}
            <a routerLink="../paysDesc"></a>
          </p>
        </li>
        <br />
        <button class="btn btn-success" (click)="paysDescription()">
          test changement de page
        </button>
      </div>
    </div>
  </div>
</div> -->
