/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.flag {
  height: 5rem;
}

.bg {
  background: linear-gradient(
    45deg,
    rgba(83, 125, 210, 0.4),
    rgba(178, 30, 123, 0.4) 100%
  );
  // background: url('https://mdbootstrap.com/img/Photos/Others/img%20(42).webp')
  // no-repeat center center;
  // background-size: cover;
}
